---
import PageLayout from '../layouts/PageLayout.astro';
import Card from '../components/Card.astro';
import FAQ from "../components/faq/FAQ.astro"
---

<PageLayout title="Welcome to Astro." titleHeader='Contact' contact_section_subtitle='In just 48 hours, our experts will meticulously assess your video content and reveal untapped opportunities for enhancing your <span class="font-bold">brand</span> and visual storytelling.' contact_section_title='Get in touch' />
